/*
FOLLOW THIS FORMAT:

.my-first-selector,
.my-second-selector {
    - positioning and size
    - border styling
    - internal styling - padding etc.
    - typography
    - colors
    - display, opacity and special effects
}
*/

/* **************************
 * GENERAL
 * general css
 */
@font-face {
  font-family: 'KnightsQuestRegular';
  src: url('./fonts/knights-webfont.eot');
  src: url('./fonts/knights-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/knights-webfont.woff') format('woff'),
       url('./fonts/knights-webfont.ttf') format('truetype'),
       url('./fonts/knights-webfont.svg#KnightsQuestRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* border-box */
*, *::before, *::after {
  box-sizing: border-box;
}
a {
  color: #e5c40f;
  text-decoration: none;
}
a.highlighted {
  color: #E68910;
}
a.info-link {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 14px;
}
a:focus,
a:hover {
  color: #fff;
}
h1, h2, h3 {
  font-family: KnightsQuestRegular;
  font-weight: 200;
  color: #fff;
}
h2 {
  background: rgb(52, 50, 44); /* Old browsers */
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
body {
  color: white;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-color: black;
}

/* **************************
 * #chooser-nav or .lobby-panel
 * where you choose to join either Legends or Genesis. Also ticking page.
 */
#chooser-nav .advice-message h2,
#chooser-nav .advice-message th,
#chooser-nav .advice-message td {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
}
.lobby-panel h2 {
  line-height: 16px;
}

/* inner-container */
@media only screen and (max-width: 1130px) {
  #inner-container {
    width: auto;
  }
}
#inner-container {
  max-width: 960px;
}

/* **************************
 * #ircchat
 */
#ircchat {
  font-size: 11px;
}

/* **************************
 * HEADER
 */
#header {
  max-width: 960px;
  width: 100%;
}
#header-logo {
  background: url(./images/logo_header.png) no-repeat top left;
  background-size: 63px;
  width: 63px;
  height: 49px;
  position: absolute;
}
#header-navigation {
  top: 5px;
  left: 230px;
  max-width: 600px;
  width: 100%;
}
#header-navigation div {
  opacity:0.7;
  margin: 0 4px 0 0;
  padding: 4px 6px;
  border: 1px solid #555;
}
#header-navigation div:hover {
  opacity:1.0;
}
#header-navigation-2nd-level {
  width: auto;
  max-width: 500px;
  left: 228px;
  top: 0;
}
#account-container {
  top: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
}
#account-header .account-image {
  background: url(./images/anonymous_small.png) no-repeat top left;
}
#account-header {
  color: #edf2fd;
}
#account-header:hover {
  background-color: #494432;
}
#account-header.selected {
  background-color: #494432;
}
#account-details {
  font-size: 12px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  line-height: 16px;
  background-color: #494432;
}
#account-details .account-title {
  font-size: 18px;
  font-weight: bolder;
  font-family: KnightsQuestRegular;
  border-bottom: 1px solid #29261c;
}
#account-details .alert a {
  color: #ff771c;
}
#account-details a:hover {

}
#account-details .account-summary {
  border-bottom: 1px solid #29261c;
}
#account-details .account-signout {
  border-top: 1px solid #29261c;
  font-weight: bold;
  text-align: right;
}

#middle {
  /* background-image: url(./images/leather.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#left-column {
  max-width: 830px;
  width: 100%;
}
/* #right-column {

} */
@media only screen and (max-width: 1130px) {
  #right-column {
    width: 0;
  }
}

/* **************************
 * #game-navigation
 */
/* become hamburger menu when less than 1130px wide */
/* @media only screen and (max-width: 1130px) {
  #game-navigation {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
} */
#game-navigation {
  width: 80px;
}
#game-navigation .navigation div {
  margin: 0;
}
#game-navigation .current-date {
  /* border styling */
  border: 2px solid;
  border-color: #555555;
  padding: 11px 0px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
}
#game-navigation a {
  font-size: 12px;
  line-height: 14px;
}
#game-navigation img {
  height: 14px;
}
#game-navigation a:hover {
}
#game-navigation .navigation {
  border: 2px solid;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  border-color: #555555;
}
.navigation a {
  text-decoration: none;
  color: #fff;
}
.navigation a:hover  {
  color: white;
}

.google_ads {
  margin-left: 10px !important;
  padding: 0 !important;
}

/* **************************
 * #resource-bar
 */
@media only screen and (max-width: 1130px) {
  #resource-bar {
    max-width: 700px;
    width: calc(100% - 120px);
  }
  #resource-bar thead th {
    font-size: 12px;
  }
}
#resource-bar {
  height: 40px;
  border: 2px solid;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 11px;
  border-color: #555555;
  background: #000; /* Old browsers */
}
#resource-bar thead {
  background: #3a3830;
}
#resource-bar thead th {
  padding: 1px 2px 1px 2px;
  font-weight: normal;
  background: transparent;
}
#resource-bar tbody th {
  /* width: 98px; */
  padding: 1px 2px 1px 2px;
  background: transparent;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align: center;
  color: #eee;
  font-size: 11px;
  font-weight: bolder;
}
#resource-bar .positive {
  color: #8FA94A;
}
#resource-bar .negative {
  color: #d0aeae;
}

/* **************************
 * #overlay
 * the BOT bar under the resource bar
*/
@media only screen and (max-width: 1130px) {
  #overlay {
    max-width: 700px;
    width: calc(100% - 100px) !important;
  }
}

/* **************************
 * .game-header
 */
.game-header {
  margin-top: 12px;
  max-width: 700px;
  width: calc(100% - 100px);
}
.game-header h1 {
  height: 26px;
  margin: 0px;
  margin-right: 2px;
  padding: 6px 8px 1px 8px;
  font-size: 14px;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #c4bea9; /* Old browsers */
  color: #000;
}
.game-header a h1 {
  background: #494432; /* Old browsers */
  color: #a1a1a1;
}
.game-header a h1:hover {
  background: #29261c; /* Old browsers */
  color: #fff;
}

#ircmsg, #botcommand {
  max-width: none;
}

/* **************************
 * #loadstatus
 * h2 with Loading page...
 * Full width for some reason, overlays on top of nav.
 */
#loadstatus {
  margin-left: 90px;
  width: calc(100% - 100px);
}

/* **************************
 * #footer
 */
#footer {
  width: 100%;
  color: #4d5355;
  font-size: 10px;
}
.report-this {
  color: #c4a112;
  background-color: #18100e;
}
.report-this:hover {
  color: #c4a112;
  background-color: #2a201d;
}
.reported-content {
  border: 2px inset #616161;
  background-color: #000000;
}
.overlay {
  background-color: #2f2e2e;
  border:1px solid #666;
}
.overlay .close {
  background-image:url("./images/overlay-close.png");
}

.age-changes,
.lobby-panel,
.campaigns {
    /* border styling */
    border: 2px solid;
    border-color: #555555;
    background: #494432; /* Old browsers */
}
.lobby-panel h1 {
  font-size: 40px;
  line-height: 40px;
  color: #EBE8CD;
}
.lobby-panel h1 a:hover {
  color: #fff;
}
.lobby-panel table th {
  font-family: KnightsQuestRegular;
  font-size: 20px;
}
.lobby-panel table td {
  font-size: 14px;
}
.lobby-panel h2 {
  line-height: 30px;
}
.divider {
  background-image: url(./images/divider.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.divider-small {
  background-image: url(./images/divider-small.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.age-changes h3,
.campaigns h3 {
  font-size: 20px;
  line-height: 24px;
}
.recruitment-campaigns h1,
.race-changes h1,
.trait-changes h1 {
  font-size: 40px;
  line-height: 45px;
}
.campaigns .basic-details .campaign-summary h2{
  font-size: 18px;
}
.campaigns .basic-details .campaign-summary .highlight-keyword{
  font-size: 24px;
}

.good {
  color: #90ee90;
}
.bad {
  color: #EC7566;
}
.message {
  /* border styling */
  border: 1px solid;
  /* typography */
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}
.good.message {
  color: #fefff7;
  /* colors */
  border-color: #feffea;
  background: #718d16; /* Old browsers */
}
.bad.message {
  color: #FFFCF7;
  /* colors */
  border-color: #feffea;
  background: #521802; /* Old browsers */
}
.info.message {
  color: #FFFCF7;
  /* colors */
  border-color: #feffea;
  background: #D09734; /* Old browsers */
}

/* **************************
 * User profile page
 */
.lobby-panel .statement {
  background: url('./images/province_profile/scroll.png') no-repeat;
}
.lobby-panel .statement h2 {
  line-height: 16px;
}
.advice-message {
  color: #a5d387;
}
.warning {
  color: #e55700;
}
.error {
  color: #e55700;
}

/* **************************
 * .game-content
 */
 .game-content {
  width: calc(100% - 100px);
  max-width: 700px;
  border: 2px solid;
  /* border styling */
  /* colors */
  border-color: #555555;
}
.game-content h2 {
  background: #29261c; /* Old browsers */
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
}
.game-content form,
.game-content h2 {
  color: #fff;
  margin-top: 18px;
  border: 0px;
  line-height: 16px;
  padding: 8px 0;
}
.game-content h3 {
  font-size: 24px;
  color: #fff;
}
.game-content th,
.game-content td {
  padding: 2px 12px 2px 12px;
  font-size: 11px;
}
.game-content form {
  font-size: 12px;
  font-weight: bolder;
}
.game-content form.no-visible-fields {
  width: auto;
  background: none;
  border: none;
}
.game-content thead th {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  background: #3a3830; /* Old browsers */
}
.game-content tbody th {
  /* border-left: 6px ridge rgba(48, 48, 48, 0.4); */
  border-left: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
}
.game-content tbody th:first-child {
  border-left: none;
  padding-left: 8px;
}
.game-content tbody tr {
  /* border-bottom: 2px groove rgba(48, 48, 48, 0.4); */
  border-bottom: none;
  /* border-top: 2px groove rgba(48, 48, 48, 0.4); */
  border-top: none;
}
.game-content tbody tr:nth-child(even) {
  /* display, opacity and special effects*/
  background: rgb(48, 48, 48);
  background: rgba(48, 48, 48, 0.6);
}
.game-content tbody tr.sub-total {
  background: none;
}
.game-content tr.sub-total td {
  border-top: 2px solid #B9B9B9;
  padding-bottom: 25px;
}
.game-content table.schedule {
  font-size:0.8em;
}
.game-content table.three-column-stats thead th {
  text-align: center;
}
form ul.errorlist {
  color: #e26f80;
}
#change-kingdom-button {
  height: 30px;
  width: 48px;
}
.game-content form.change-kingdom {
  font-family: KnightsQuestRegular;
  font-size: 16px;
}
.game-content form.change-kingdom .change-kingdom-heading {
  margin-top: 0;
  font-size: 18px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  line-height: 24px;
}
.game-content form.change-kingdom .change-kingdom-nav a {
  width: 68px;
  padding: 0;
  font-size: 12px;
}
.game-content form.change-kingdom .change-kingdom-form {
  font-size: 30px;
  color: #a9a9a9;
}
.game-content form.change-kingdom.change-kingdom-target {
  border: 0px;
  border-top: 2px solid;
  border-color: #555555;
}
#id_add_bookmark_form {
  display: none;
}
input[type=text],
form textarea,
form input[type=text],
form input[type=password] {
  max-width: 54px;
  border-width: 1px;
  border-color: #d7d7d7;
  background: #3a3830; /* Old browsers */
  padding-left: 3px;
  text-align: left;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
  color: #fff;
}
form .errorlist {
  font-size: 12px;
}
form input[type=submit],
.button-link {
  /* positioning and size */
  /* border styling */
  border: 1px solid;
  /* internal styling - padding etc. */
  /* typography */
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  /* colors */
  border-color: #7c551a;
  background: #9c7815; /* Old browsers */
  color: #fff;
}
form input[type=submit]:hover,
.button-link:hover {
    /* colors */
    background: #c99a1a;
}
form input[type=submit]:active,
.button-link:active {
    /* colors */
    background: #ba8500;
}

div.selector span,
div.uploader span.filename,
div.uploader span.action {
    padding-left: 5px;
    /* typography */
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}
div.uploader span.filename,
div.uploader span.action {
    font-size: 18px;
}
.game-content p {
  margin: 8px 12px 8px 12px;
  font-size: 12px;
  line-height: 14px;
}
.game-content form table {
    border: none;
    margin-bottom: 10px;
    text-align: left;
}
.game-content form table thead th {
    height: 28px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: 14px;
}
.game-content form tbody th {
  /* border-left: 2px ridge rgba(48, 48, 48, 0.4); */
  border: none;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
}
.game-content form tbody th:first-child {
    border-left: none;
}
.game-content form tbody th label {
  /* padding-left: 8px; */
}
.game-content form tbody td {
  padding-right: 20px;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
}
.game-content form tbody tr {
  padding: 0px 8px 0px 8px;
  border: none;
}
.game-content form tbody tr:nth-child(even) {
  /* display, opacity and special effects*/
  background: rgb(48, 48, 48);
  /* background: rgba(48, 48, 48, 0.1); */
}
.game-content form.change-kingdom #royal-commands {
  border-top: 2px dotted #000;
}
.game-content form.change-kingdom #royal-commands table {
  border-top: none;
}
.game-content form.change-kingdom #royal-commands table tbody td,
.game-content form.change-kingdom #royal-commands input[type=text] {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
}
.game-content form.change-kingdom #royal-commands .button-link {
  font-size: 16px;
  line-height: 20px;
}

/* **************************
 * KINGDOM NEWS
 */
.news-legend span.news-aid:before {
  content: url(./images/kingdom_news/aid_inline.png);
}
.news-legend span.news-intra-kingdom-conflict:before {
  content: url(./images/kingdom_news/intra_kingdom_conflict_inline.png);
}
.news-legend span.news-actions-against-our-kingdom:before {
  content: url(./images/kingdom_news/actions_against_our_kingdom_inline.png);
}
.news-legend span.news-actions-by-our-kingdom:before {
  content: url(./images/kingdom_news/actions_by_our_kingdom_inline.png);
}
.news-legend span.news-dragon:before {
  content: url(./images/kingdom_news/dragon_inline.png);
}
.news-legend span.news-obituaries:before {
  content: url(./images/kingdom_news/obituaries_inline.png);
}
.news-legend span.news-relations:before {
  content: url(./images/kingdom_news/relations_inline.png);
}
.news-province-modification:before {
  content: url(./images/kingdom_news/province_modification_inline.png);
}
td.news-aid {
  background-image: url(./images/kingdom_news/aid.png);
  background-size: 18px;
}
td.news-intra-kingdom-conflict {
  background-image: url(./images/kingdom_news/intra_kingdom_conflict.png);
  background-size: 18px;
}
td.news-actions-against-our-kingdom {
  background-image: url(./images/kingdom_news/actions_against_our_kingdom.png);
  background-size: 18px;
}
td.news-actions-by-our-kingdom {
  background-image: url(./images/kingdom_news/actions_by_our_kingdom.png);
  background-size: 18px;
}
td.news-dragon {
  background-image: url(./images/kingdom_news/dragon.png);
  background-size: 18px;
}
td.news-obituaries {
  background-image: url(./images/kingdom_news/obituaries.png);
  background-size: 18px;
}
td.news-relations {
  background-image: url(./images/kingdom_news/relations.png);
  background-size: 18px;
}
td.news-province-modification {
  background-image: url(./images/kingdom_news/province_modification.png);
  background-size: 18px;
}

/* KINGDOM DETAILS */
.unused-slot { color: #B0B0B0; }
.protected,
.intel-fresh { color: #99ffbb; }
.monarch,
.at-war,
.intel-rotten { color: #F28585; }
.chamberlain,
.intel-stale { color: #FFC583; }
.you { 
  font-weight: bold;
}
.slot-number {
  font-size: 0.8em; color: #B0B0B0;
}
.provinces-legend {
  font-size: 0.8em;
}
.provinces-legend .invitations {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
}
.dip-status {
  color: #000;
}
.dip-status-NORMAL {
  background-color: #01DF01;
}
.dip-status-UNFRIENDLY {
  background-color: #FFBF00;
}
.dip-status-HOSTILE {
  background-color:#FF4000;
  background-image: url(./images/hostile_meter/hostile_gradient.png);
  background-repeat:repeat-y;
}
.dip-status-WAR {
  background-color: #FF0000;
}
.own-meter-value {
  background-image: url(./images/hostile_meter/up.png);
}
.their-meter-value {
  background-image: url(./images/hostile_meter/down.png);
}
.war-button-meter-value {
  background-image: url(./images/hostile_meter/war.png);
}
#hostility-meter-example {
  background-image: url(./images/hostile_meter/example.png);
}
#id_taunt_top_image {
  color: white;
}

/* Province profile page
-------------------------------------------------------------- */
.province-flag .flagpole {
  background: url('./images/province_profile/flagpole.png') no-repeat;
}
.province-flag .flag-image .default-flag {
  background: url('./images/province_profile/default_flag.png') no-repeat;
}
.motto {
  background: url('./images/province_profile/scroll.png') no-repeat;
}


.two-digit-input {
    width: 50px;```
.three-digit-input {
    width: 55px;
}

.four-digit-input {
    width: 70px;
}

.five-digit-input {
    width: 85px;
}

.six-digit-input {
    width: 100px;
}

/* GAME PREFERENCES */
.game-content div.preference-box {
  background: rgb(86, 83, 74);
}
.game-content div.preference-box.disabled {
  opacity: 0.5;
}
.game-content table.applicant-view input[type="submit"],
.game-content table.mail-view input[type="submit"],
.game-content table.mail-view .button-link {
  font-size: 14px;
}

table.mail-view td.formatted-text {
  background: rgb(86, 83, 74);
}

div.wysiwyg {
  border: 1px solid #999;
  padding: 5px;
  background: rgb(86, 83, 74);
}

div.wysiwyg ul.toolbar li {
  background: url('./images/jquery.wysiwyg.gif') no-repeat -64px -80px;
  border: 1px outset #83817d;
}

body.wysiwyg {
  color: #fff;
  background: #3a3830; /* Old browsers */
  font-size: 12px;
}

#bookmark-header {
    background-image: url(./images/gold_star.png);
    background-repeat: no-repeat;
    background-position: center 3px;
}
#bookmark-header:hover,
#bookmark-header.selected {
    background-color: #494432;
}
#bookmark-details {
    font-size: 16px;
}
#bookmark-details div {
    padding-top: 1px;
    padding-bottom: 1px;
}
#bookmark-details a:hover {
}
#bookmark-details #bookmarks {
  border-top: 1px solid #29261c;
  border-bottom: 1px solid #29261c;
}

#royal-command-icon {
    background-image: url(./images/gold_crown.png);
    background-repeat: no-repeat;
    background-position: center 3px;
}

#royal-command-icon:hover {
    background-color: #494432;
}

.tablesorter th .order-icon {
    background-image: url(./images/order_none.png);
}
.tablesorter th.headerSortUp .order-icon {
    background-image: url(./images/order_asc.png);
}
.tablesorter th.headerSortDown .order-icon {
    background-image: url(./images/order_desc.png);
}

.campaign-meter-level div {
    border: 1px solid #789316;
}
.campaign-meter-level div.full {
    background-color: #789316;
}
.campaign-meter-level div.unknown {
    color: #789316;
}

.fails-criteria div {
    border: 1px solid #CD4331;
}
.fails-criteria div.full {
    background-color: #CD4331;
}

.recruitment-header .rank-bar,
.campaigns .rank-bar {
    background-color: #867721;
}
.recruitment-header .selected-rank,
.campaigns .selected-rank {
    background-color: #E5C40F;
}

.campaigns .campaign-message-intro {
    font-family: KnightsQuestRegular;
    font-weight: 200;
    color: white;
    font-size: 18px;
}

#uniform-id-orderby {
  background-position: left -38px;
  width: 296px;
}
#uniform-id-orderby span,
#uniform-id-orderby.focus span,
#uniform-id-orderby.hover span,
#uniform-id-orderby:hover span {
  font-size: 30px;
  background-position: right -38px;
}

td#inline-hostility-meter {
  text-align: left;
  font-weight: normal;
}

/* Science Page
-------------------------------------------------------------- */
